---
import Layout from "../layouts/Layout.astro"
---
<Layout title="k8's corner - 404" description="page not found. you should probably fix that">
    <h1 id="404quote"></h1>
    <h3>page not found :(</h3>
    <script src="../404quotes.js"></script>
</Layout>