---
import Layout from "../layouts/Layout.astro";
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('blog');
---

<Layout title="k8's corner - blog" description="read my deranged ramblings">
        {blogEntries.map(blogPostEntry => (
          <div class="testimony">
            <a href={`/blog/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
            <time datetime={blogPostEntry.data.datePublished.toISOString()}>
              {blogPostEntry.data.datePublished.toDateString()}
            </time>
          </div>
        ))}
        </div>
</Layout>