---
import Layout from "../layouts/Layout.astro";
import { getCollection } from 'astro:content';
const blogEntries = await getCollection('blog');
blogEntries.sort((a, b) => {
  return new Date(a.data.metadata.date).getTime() - new Date(b.data.metadata.date).getTime();
})
blogEntries.reverse()
---

<Layout title="k8's corner - blog" description="read my deranged ramblings">
  <div class="center">
    {blogEntries.map(blogPostEntry => (
      <div class="blog-item center">
        <a href={`/blog/${blogPostEntry.id}`}>{blogPostEntry.data.metadata.title}</a>
        <p>by {blogPostEntry.data.metadata.authors}</p>
        <p>{blogPostEntry.data.metadata.date}</p>
        <p>{blogPostEntry.data.metadata.tags.join(", ")}</p>
      </div>
    ))}
  </div>
</Layout>