---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/projectCard.astro";
---
<Layout title="k8's corner - toybox" description="tools & games">
    <h1>a collection of small tools & games</h1>
    <div class="testimonials">
        <ProjectCard name="stratagem hero lite" description="clone of the minigame in helldivers 2" homepage="./stratagem-hero" />
        <ProjectCard name="control panel" description="do some funky stuff to my website" homepage="./control-panel" />
    </div>
</Layout>