---
const isActive = Astro.url.pathname == Astro.props.path
interface Props {
	page: string
	path: string
}
---

<li>
	<a href={Astro.props.path} aria-current={isActive ? "page" : undefined}
		>{Astro.props.page}</a
	>
</li>
