---
if (Astro.props.path != "/") {
	var isActive = Astro.url.pathname.startsWith(Astro.props.path)
} else {
	var isActive = Astro.url.pathname == "/" // fix home always being selected because it's the root
}




interface Props {
	page: string
	path: string
}
---

<li>
	<a href={Astro.props.path} aria-current={isActive ? "page" : undefined}
		>{Astro.props.page}</a
	>
</li>
