@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url(./fonts/Atkinson-Hyperlegible-Regular.woff2) format("woff2");
}

body {
	font-family: "Atkinson Hyperlegible";
	background-color: #303446;
	color: #c6d0f5;
	text-align: center;
}

a:link {
	color: #c6d0f5;
}

a:visited {
	color: #c6d0f5;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.pfp {
	border-radius: 50%;
	max-width: 400px;
	aspect-ratio: 1 / 1;
}

.testimonials {
	display: flex;
	flex-wrap: wrap;
	overflow-y: visible;
	gap: 10px;
	margin-left: 10%;
	margin-right: 10%;
	align-items: center;
	justify-content: center;
}

.testimony {
	background-color: #292c3c;
	display: flex;
	flex-wrap: wrap;
	border-radius: 25px;
	border: 2px solid #f4b8e4;
	padding: 20px;
	width: auto;
	height: auto;
	min-height: 25%;
	min-width: 15%;
	max-width: 50%;
	align-items: center;
	flex-direction: column;
}

.card,
.card>a {
	border-radius: 25px;
	border: 2px solid #f4b8e4;
}

.card {
	padding: 20px;
	width: 200px;
	height: auto;
	background-color: #292c3c;
}

.card:hover {
	background-color: #51576d;
}

.card:active {
	background-color: #626880;
}

.card>a {
	padding: 10px;
}

.card>img {
	margin: -20px;
	z-index: 1;
	max-width: 240px;
	height: auto;
	position: relative;
	border-radius: 23px 23px 0px 0px;
}

button {
	/* css is fucking stupid i shouldn't have to redeclare this shit for every button on the page */
	background-color: #303446;
	color: #c6d0f5;
	border-color: #f4b8e4;
	width: fit-content !important;
}

button:active {
	background-color: #626880;
}

button:hover {
	background-color: #51576d;
}

.navbar {
	border-radius: 5px;
	border: 2px solid #f4b8e4;
	background-color:  	#292c3c;
	text-align: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 1%;
}

.navbar li {
	display: inline;
}

.navbar img {
	height: 2em;
}

[aria-current]:not([aria-current="false"]) {
	font-weight: bold;
}

h3, p {
	color: #a5adce;
}

#quote {
	color: #c6d0f5
}