@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url(./fonts/Atkinson-Hyperlegible-Regular.woff2) format("woff2");
}

:root {
	--background-color: #303446;
	--secondary-background-color: #292c3c;
	--tertiary-background-color: #51576d;
	--active-background-color: #626880;
	--text-color: #c6d0f5;
	--accent-color: #f4b8e4;
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #eff1f5;
		--secondary-background-color: #e6e9ef;
		--tertiary-background-color: #dce0e8;
		--active-background-color: #ccd0da;
		--text-color: #4c4f69;
		--accent-color: #ea76cb;
	}
}

body {
	font-family: "Atkinson Hyperlegible";
	background-color: var(--background-color);
	color: var(--text-color);
	text-align: center;
}

a:link {
	color: var(--text-color)
}

a:visited {
	color: var(--text-color)
}

.center {
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
	padding-top:2em;
	padding-bottom:2em;
}

.pfp {
	border-radius: 50%;
	max-width: 400px;
	aspect-ratio: 1 / 1;
}

.testimonials {
	display: flex;
	flex-wrap: wrap;
	overflow-y: visible;
	gap: 10px;
	margin-left: 10%;
	margin-right: 10%;
	align-items: center;
	justify-content: center;
}

.testimony {
	background-color: var(--secondary-background-color);
	display: flex;
	flex-wrap: wrap;
	border-radius: 25px;
	border: 2px solid var(--accent-color);
	padding: 20px;
	width: auto;
	height: auto;
	min-height: 25%;
	min-width: 15%;
	max-width: 50%;
	align-items: center;
	flex-direction: column;
}

.card,
.card>a {
	border-radius: 25px;
	border: 2px solid var(--accent-color);
}

.card {
	padding: 20px;
	width: 200px;
	height: auto;
	background-color: var(--secondary-background-color);
	white-space: nowrap;
}

.card:hover {
	background-color: var(--tertiary-background-color);
}

.card:active {
	background-color: var(--active-background-color);
}

.card>a {
	padding: 10px;
}

.card>img {
	margin: -20px;
	z-index: 1;
	max-width: 240px;
	height: auto;
	position: relative;
	border-radius: 23px 23px 0px 0px;
}

.buttonContainer {
	line-height: 4;
}

button {
	/* css is fucking stupid i shouldn't have to redeclare this shit for every button on the page */
	background-color: var(--secondary-background-color);
	color: var(--text-color);
	border-color: var(--accent-color);
	width: fit-content !important;
	cursor: pointer;
}

button:active {
	background-color: var(--active-background-color);
}

button:hover {
	background-color: var(--tertiary-background-color);
}

button {
  font-family: inherit
}

.navbar {
	border-radius: 5px;
	border: 2px solid var(--tertiary-background-color);
	background-color:  var(--background-color);
	text-align: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 1%;
}

.navbar li {
	display: inline;
}

.navbar img {
	height: 2em;
}

[aria-current]:not([aria-current="false"]) {
	font-weight: bold;
}

h3, p {
	color: var(--text-color);
}

#quote {
	color: var(--text-color)
}

.bio {
	margin-left: 30%;
	margin-right: 30%;
}

.card.project-card {
	white-space: unset !important;
}

ul, ol {
  list-style-position: inside;
  padding: 0;
  margin: 0;
  margin-left: 40%;
  text-align: left;
}

.blog-item {
	padding: 20px;
	width: 200px;
	height: auto;
	background-color: var(--secondary-background-color);
	white-space: nowrap;
	border-radius: 25px;
	border: 2px solid var(--accent-color);
	margin-top: 1em;
}

picture {
	vertical-align: middle;
}